@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

// Restricting the width of the container
.container {
  background: lightcoral;
  max-width: 1440px;
  margin: 0 auto;
}

// Border division between section
.border {
  height: 0.2rem;
  width: 100%;
  background: gold;
}

.copyright {
  background: purple;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
}

// MEDIA QUERIES

// Widths
@mixin verySmall {
  @media screen and (max-width: 599.5px) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin veryLarge {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
