@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  overflow: hidden;
}

// Restricting the width of the container
.container {
  background: lightcoral;
  max-width: 1920px;
  margin: 0 auto;
}

// MEDIA QUERIES

// Widths
@mixin verySmall {
  @media screen and (max-width: 599.5px) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin veryLarge {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
