.menu {
  background: rgba($color: $color3, $alpha: 0.8);
  text-align: center;
  display: flex;
  position: fixed;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100vh);

  &__links {
    list-style: none;

    & a {
      margin: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
      text-decoration: none;
      color: $color5;
      transition: color 0.4s ease-in-out;

      &:hover {
        color: $color6;
      }
    }
  }
}

// show hidden menu
.showMenu {
  transform: translateY(0);
}
